/* apps/web/src/components/ui/Tooltip.css */

.tooltip-container {
    position: relative;
    display: inline-block;
}

.tooltip-text {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    background-color: #1f2937;
    /* gray-800 */
    color: #fff;
    font-size: 0.75rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    z-index: 50;
    pointer-events: none;
}

.tooltip-container:hover .tooltip-text {
    opacity: 1;
    visibility: visible;
}